.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;

  .btn {
    width: 11%;
    border: 2px solid #000;
    color: #000;
    border-radius: 15px;
    font-size: 20px;
    background-color: #fff;
    margin: 3px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bungee Shade", cursive;
  }

  .btn.active {
    background-color: aqua;
  }

  .btn.inactive {
    opacity: 0.3;
  }

  .btn:hover:not(:disabled),
  .btn:focus:not(:disabled) {
    background-color: aquamarine;
  }
}
